/* Fonte principal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Cores e fontes*/
:root {
    --cor-principal: rgba(77, 115, 93, 1);
    --search-bar-fill: #f8f7f7;
    --search-bar-border: #d4d8db;
    --cor-principal-hover: rgb(67, 102, 82);
    --cor-linha-divisoria: rgba(203, 203, 203, 0.6);
    --cor-fonte-loc: rgb(71, 71, 71);
    --fonte-principal: 'Montserrat';
    --cor-bordas-input: rgb(110, 110, 110);
    --cor-bordas-hover: rgb(34, 34, 34);
    --cor-voltar-btn-hover: rgb(221, 221, 221);
    --cor-voltar-btn: rgb(238, 238, 238);
    --preto-alternativo: rgb(24, 24, 24);
    --cor-search-icon: rgb(80, 80, 80);
    --cor-search-icon-hover: rgb(44, 44, 44);
    --cor-texto-erro: rgb(255, 69, 69);
    --cor-placeholder: rgb(180, 180, 180);
    --cor-card-hover: rgb(216, 216, 216);
    --cor-botao-login: linear-gradient(80deg, #71b18c, #4D735D);
    --cor-botao-login-hover: linear-gradient(80deg, #4D735D, #76B08E);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

h1 {
    font-size: 2rem;
}