/* Fonte principal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Cores e fontes*/
:root {
    --cor-principal: rgba(77, 115, 93, 1);
    --search-bar-fill: rgb(244, 244, 244);
    --search-bar-border: rgba(199, 199, 199, 1);
    --cor-principal-hover: rgb(67, 102, 82);
    --cor-linha-divisoria: rgba(203, 203, 203, 1);
    --cor-fonte-loc: rgb(71, 71, 71);
    --fonte-principal: 'Montserrat';
    --cor-bordas-input: rgb(110, 110, 110);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}